[build]
  command = "hugo --gc --minify"
  publish = "public"

[build.environment]
  NODE_VERSION = "22"
  HUGO_VERSION = "0.153.1"
  HUGO_EXTENDED = "true"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

[[redirects]]
  from = "/admin"
  to = "/admin/"
  status = 301
