#burger {
  display: none;
}

header {
  background-color: #f7fbf4;
  width: 170px;
  font-family: var(--font-heading);
  z-index: 10;
}

nav {
  margin-right: 100px;
  align-items: center;
  width: 170px;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;

}

#nav {
  margin-top: 60px;
  font-size: 2rem;
  padding: 0;
}


#nav li {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#nav li a {
  color: #1e5b0d;
  text-decoration: none;
}

#nav li p {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

#nav li:hover p {
  visibility: visible;
  opacity: 1;
}


@media screen and (min-width: 0px) and (max-width: 1024px) {
  /* Show the burger menu icon */
  header {
    width: 0px;
  }

  #nav li {
    margin-bottom: 1.35rem;
  }

  #nav li p {
    visibility: visible;
    opacity: 1;
  }

  #burger {
    border-radius: .5rem;
    padding: .5rem;
    background-color: transparent;
    display: block;
    z-index: 99;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: white;
    position: fixed;
    cursor: pointer;
    transition: all 01s;
  }
nav.navbar.is-active #burger {
  color: #1e5b0d;
  opacity: 100%;
  background-color: transparent;
}
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100svh;
    top: 0;
    left: -100%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5.5rem;
    padding-bottom: max(2.5rem, env(safe-area-inset-bottom));
    box-sizing: border-box;
    transition: 0.4s;
  }

  #nav {
    margin-top: 0;
  }

  nav.is-active {
    left: 0;
    background-color: #f7fbf4;
  }
}
